body{
    background-image: url(Image/my_account.png);

}
.main{
    height: 15vh;
    width: 100%;
    background: rgb(14, 14, 87);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.title{
    color: white;
    font-size: 20px;
}
span{
    color:#EECC1C;
    font-weight: bold;
}
nav a{
    transition: 0.6s all;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 9px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #EECC1C
}
.search{
    border: none;
    color: white;
    padding: 15px;
}
span{
    color:#EECC1C
}
.h1{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
}
.form-box{
    background: white;
    width: 400px;
    margin: 3% auto;
    padding: 10px;
    box-shadow: 0 0px 20px 2px rgba(255, 255, 255);
    height: 500px;  
}
h1{
    font-size: 18px;
    font-weight: 400px;
    font-style: normal;
    margin-top: 10px
 }
.input-box {
    margin: 30px auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;

 }

.input-box input{
    width: 390px;
    height: 40px;
    outline: none;

}
::placeholder{
    color: black;
    font-weight: bold;
    margin-left: 30px
}

h5{
    color: #5359EF;
    text-decoration: none;
    float: right;
    font-size: 15px;
    margin: 5px auto
}
.sign-in_btn{
    margin: 20px auto 10px;
    width: 160px;
    outline: none;
    padding: 10px 0;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor:pointer;
    border-radius: 20px;
    font-weight: bold;;
}

.h2{
    font-size: 20px;
    font-weight: bold;
}
.sign-up_btn{
    margin: 20px auto 10px;
    width: 160px;
    outline: none;
    padding: 10px 0;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold
}
.sign-up_btn a{
    transition: 0.6s all;
    color: black;
    text-decoration: none;
}
img{
    position:absolute;
    width: 30px;
    height: 25px;
    margin: 45px auto 20px;
    float: left;
    
}
h6{
    color: #5359EF;
    text-align: center;
    font-size: 13px;n 
}

